.about, .work, .contact {
  background-color: #292b2c;
  cursor: pointer;
  /*color: rgba(255,255,255,0.1);*/
}
.about:before {
  background: green;
}
.work:before {
  background: red;
}
.contact:before {
  background: yellow;
}
.hvr-shutter-out-horizontal:before, .hvr-grow {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
img {
  width: 200px;
}
.about:hover, .work:hover, .contact:hover {
  color: #fff;
  z-index: 1;
}

h1{
  color: white;
}


.row {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

}