<div class="row mt-5">
  <div class="col  col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 socialIcons px-5 text-center" >
    <img id="profile" src="../../assets/img/profile.jpg" alt="">
    <ul class="mt-5">
      <li *ngFor="let socialIcon of socialIcons" (click)=onclick(socialIcon.link)>
          <img [src]="socialIcon.img" alt="" class="hvr-grow">
        </li>
    </ul>
  </div>
  <div class="col col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 px-5">
    <h1>About</h1>
    <p class="about">{{about.description}}</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 px-5">
     <h1>Education</h1>
     <ul>
       <li *ngFor="let education of about.education" class="school">{{education.school}} <br> {{education.subject}} <br> {{education.time}}</li>
     </ul>
  </div>
  <div class="col col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 px-5">
    <h1>Levels of Awesomnes</h1>
      <ul>
        <li *ngFor="let skill of about.levelsOfAwesome">
          <div class="progress">
            <div class="progress-bar text-left hvr-shrink" role="progressbar" [ngStyle]="{'width': skill.skill,'background-color': skill.color }" aria-valuemin="0" aria-valuemax="100"> {{ skill.tech }} {{skill.skill}} </div>
          </div>
        </li>
      </ul>
  </div>
</div>
<div class="row hobbies py-5">
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-5">
    <h1>Hobbies</h1>
  </div>
  <div *ngFor="let hobbie of about.hobbies" class="col col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 px-5 py-3 text-center">
    <img [src]="hobbie.img" alt="" class="hvr-grow">
    <br>
    {{hobbie.hobbie}}
  </div>
</div>
